{% extends "master.jinja2" %}
{% block title %}Add{% endblock %}
{% block content %}
<form class="form-horizontal" method="post">
	<fieldset>
	  <legend>Add a New Quote</legend>
	  <div class="control-group{{' error' if renderer.is_error('quote') }}">
		<label class="control-label" for="quote">Quote</label>
		<div class="controls">
			{{ renderer.textarea("quote") }}
			{% if renderer.is_error('quote') %}
				<span class="help-inline">{{ ', '.join(renderer.errors_for('quote')) }}</span>
			{% endif %}
		</div>
	  </div>
	  <div class="control-group">
		<div class="controls">
			{{ renderer.submit("submit","Add!",class_='btn btn-primary') }}
		</div>
	  </div>
	</fieldset>
</form>
{% endblock %}