AddHandler fcgid-script .fcgi
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !(static|\.css|\.json|\.js|\.css|\.ico|\.html)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ dispatch.fcgi/list [QSA,L]

RewriteCond %{REQUEST_FILENAME} (static|\.css|\.json|\.js|\.css|\.ico|\.html)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ dispatch.fcgi/$1 [QSA,L]
