{% extends "master.jinja2" %}
{% block title %}List{% endblock %}
{% block controller %}QuoteListCtrl{% endblock %}
{% block content %}
<div ng-show="loaded">
<h2><[quotes.length]> quotes</h2>
<ul>
    <li ng-repeat="quote in quotes">
        <a href="<[quote.view_url]>"><[quote.quote]></a>
    </li>
    <hr />
</ul>
</div>
{% endblock %}
